extends: default
rules:
  document-start:
    present: false
  line-length:
    max: 180
    level: warning
  truthy:
    level: warning
    allowed-values: ['true', 'false', 'yes', 'no', 'True', 'False']
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 2
ignore:
  - .github/
