---
extends: default
rules:
  line-length:
    max: 180
    level: warning
  truthy:
    level: warning
    allowed-values: ['true', 'false', 'yes', 'no', 'True', 'False']
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 2
ignore:
  - .github/
  - roles/*/*/main.yml
  - inventories/*
skip_list:
  - yaml[document-start]
  - var-naming[no-role-prefix]
